Debug/CFAF240320X-020T_SPI_Demo_Code.cpp.d
CFAF240320X-020T_SPI_Demo_Code.sln
CFAF240320X-020T_SPI_Demo_Code.vcxproj
CFAF240320X-020T_SPI_Demo_Code.vcxproj.filters
.vs/CFAF240320X-020T_SPI_Demo_Code/v15/.suo
__vm/.CFAF240320X-020T_SPI_Demo_Code.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
__vm/Upload.vmps.xml
Debug/board.buildinfo
Debug/CFAF240320X-020T_SPI_Demo_Code.elf
Debug/CFAF240320X-020T_SPI_Demo_Code.hex
Debug/CFAF240320X-020T_SPI_Demo_Code.cpp.o
Debug/CFAF240320X-020T_SPI_Demo_Code.ino.elf
Debug/CFAF240320X-020T_SPI_Demo_Code.ino.hex
Debug/CFAF240320X-020T_SPI_Demo_Code.ino.with_bootloader.hex
Debug/CFAF240320X-020T_SPI_Demo_Code.with_bootloader.hex
Debug/core.a
